<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tradevan.mapper.pkis.dao.BatchparamsetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tradevan.mapper.pkis.model.Batchparamset">
        <id column="SERNO" property="serno" />
        <result column="BATCHNAME" property="batchname" />
        <result column="STATUS" property="status" />
        <result column="SLEEPSEC" property="sleepsec" />
        <result column="LASTERRORDATE" property="lasterrordate" />
        <result column="LASTERRORMSG" property="lasterrormsg" />
        <result column="CREATEUSER" property="createuser" />
        <result column="CREATEDATE" property="createdate" />
        <result column="UPDATEUSER" property="updateuser" />
        <result column="UPDATEDATE" property="updatedate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SERNO, BATCHNAME, STATUS, SLEEPSEC, LASTERRORDATE, LASTERRORMSG, CREATEUSER, CREATEDATE, UPDATEUSER, UPDATEDATE
    </sql>

</mapper>
