<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tradevan.mapper.pkis.dao.EmailqueueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tradevan.mapper.pkis.model.Emailqueue">
        <id column="SERNO" property="serno" />
        <result column="ATTACHMENT" property="attachment" />
        <result column="CATEGORY" property="category" />
        <result column="CONTENT" property="content" />
        <result column="CREATETIME" property="createtime" />
        <result column="CREATEUSERID" property="createuserid" />
        <result column="FAILREASON" property="failreason" />
        <result column="MAILTO" property="mailto" />
        <result column="MAILTOBCC" property="mailtobcc" />
        <result column="MAILTOCC" property="mailtocc" />
        <result column="PRIORITY" property="priority" />
        <result column="RETRYCNT" property="retrycnt" />
        <result column="STATUS" property="status" />
        <result column="SUBJECT" property="subject" />
        <result column="SYSID" property="sysid" />
        <result column="SYSMEMO" property="sysmemo" />
        <result column="UPDATETIME" property="updatetime" />
        <result column="UPDATEUSERID" property="updateuserid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SERNO, ATTACHMENT, CATEGORY, CONTENT, CREATETIME, CREATEUSERID, FAILREASON, MAILTO, MAILTOBCC, MAILTOCC, PRIORITY, RETRYCNT, STATUS, SUBJECT, SYSID, SYSMEMO, UPDATETIME, UPDATEUSERID
    </sql>

</mapper>
