<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tradevan.mapper.pkis.dao.LoggMailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tradevan.mapper.pkis.model.LoggMail">
        <id column="MAIL_ID" property="mailId" />
        <result column="SOURCE_ID" property="sourceId" />
        <result column="SOURCE_TYPE" property="sourceType" />
        <result column="MAIL_TO" property="mailTo" />
        <result column="MAIL_CC" property="mailCc" />
        <result column="MAIL_BCC" property="mailBcc" />
        <result column="MAIL_SUBJECT" property="mailSubject" />
        <result column="MAIL_BODY" property="mailBody" />
        <result column="MAIL_ATTACH" property="mailAttach" />
        <result column="CREATE_USER" property="createUser" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="SYSTEM_MEMO" property="systemMemo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        MAIL_ID, SOURCE_ID, SOURCE_TYPE, MAIL_TO, MAIL_CC, MAIL_BCC, MAIL_SUBJECT, MAIL_BODY, MAIL_ATTACH, CREATE_USER, CREATE_TIME, UPDATE_USER, UPDATE_TIME, SYSTEM_MEMO
    </sql>

</mapper>
