<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tradevan.mapper.pkis.dao.LoggErrorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tradevan.mapper.pkis.model.LoggError">
        <id column="SEQUENCENO" property="sequenceno" />
        <result column="SERVER_IP" property="serverIp" />
        <result column="SERVER_SITE" property="serverSite" />
        <result column="USER_ID" property="userId" />
        <result column="USER_BAN" property="userBan" />
        <result column="USER_SESSION_ID" property="userSessionId" />
        <result column="USER_IP" property="userIp" />
        <result column="ERROR_TYPE" property="errorType" />
        <result column="FUNCTION_CODE" property="functionCode" />
        <result column="ACTION_CODE" property="actionCode" />
        <result column="ARGUMENT_VALUE" property="argumentValue" />
        <result column="ERROR_MEMO" property="errorMemo" />
        <result column="ERROR_NOTICE" property="errorNotice" />
        <result column="NOTICE_STATE" property="noticeState" />
        <result column="NOTICE_USER" property="noticeUser" />
        <result column="CREATE_USER" property="createUser" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="SYSTEM_MEMO" property="systemMemo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEQUENCENO, SERVER_IP, SERVER_SITE, USER_ID, USER_BAN, USER_SESSION_ID, USER_IP, ERROR_TYPE, FUNCTION_CODE, ACTION_CODE, ARGUMENT_VALUE, ERROR_MEMO, ERROR_NOTICE, NOTICE_STATE, NOTICE_USER, CREATE_USER, CREATE_TIME, UPDATE_USER, UPDATE_TIME, SYSTEM_MEMO
    </sql>

</mapper>
