<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tradevan.mapper.pkis.dao.McdPrfBoxMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tradevan.mapper.pkis.model.McdPrfBox">
        <id column="BOX_ID" property="boxId" />
        <result column="COMP_BAN" property="compBan" />
        <result column="LANG_ID" property="langId" />
        <result column="BOX_NAME" property="boxName" />
        <result column="DIMENSION_DEEP" property="dimensionDeep" />
        <result column="DIMENSION_WIDTH" property="dimensionWidth" />
        <result column="DIMENSION_HEIGHT" property="dimensionHeight" />
        <result column="DIMENSION_UNIT" property="dimensionUnit" />
        <result column="PACK_MATERIAL" property="packMaterial" />
        <result column="SORT_INDEX" property="sortIndex" />
        <result column="CREATE_USER" property="createUser" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="SYSTEM_MEMO" property="systemMemo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        BOX_ID, COMP_BAN, LANG_ID, BOX_NAME, DIMENSION_DEEP, DIMENSION_WIDTH, DIMENSION_HEIGHT, DIMENSION_UNIT, PACK_MATERIAL, SORT_INDEX, CREATE_USER, CREATE_TIME, UPDATE_USER, UPDATE_TIME, SYSTEM_MEMO
    </sql>

</mapper>
