<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tradevan.mapper.pkis.dao.PercontracttemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tradevan.mapper.pkis.model.Percontracttemplate">
        <id column="DATAID" property="dataid" />
        <result column="FLOWID" property="flowid" />
        <result column="JSON" property="json" />
        <result column="CREATEUSER" property="createuser" />
        <result column="CREATEDATE" property="createdate" />
        <result column="UPDATEUSER" property="updateuser" />
        <result column="UPDATEDATE" property="updatedate" />
        <result column="MODULE" property="module" />
        <result column="TEMPLATENAME" property="templatename" />
        <result column="PRDTIME" property="prdtime" />
        <result column="DROPTIME" property="droptime" />
        <result column="DOCVER" property="docver" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DATAID, FLOWID, JSON, CREATEUSER, CREATEDATE, UPDATEUSER, UPDATEDATE, MODULE, TEMPLATENAME, PRDTIME, DROPTIME, DOCVER
    </sql>

</mapper>
