<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tradevan.mapper.pkis.dao.ReviewsetdataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tradevan.mapper.pkis.model.Reviewsetdata">
        <result column="SERNO" property="serno" />
        <result column="REVIEWNAME" property="reviewname" />
        <result column="REVIEWUSERIDS" property="reviewuserids" />
        <result column="REVIEWROLES" property="reviewroles" />
        <result column="ACTIONTYPE" property="actiontype" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SERNO, REVIEWNAME, REVIEWUSERIDS, REVIEWROLES, ACTIONTYPE
    </sql>

</mapper>
