<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tradevan.mapper.pkis.dao.RschprojformMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tradevan.mapper.pkis.model.Rschprojform">
        <id column="SERNO" property="serno" />
        <result column="SOURCESERNO" property="sourceserno" />
        <result column="PROJID" property="projid" />
        <result column="FORMID" property="formid" />
        <result column="APPLYNO" property="applyno" />
        <result column="DOCSTATESERNO" property="docstateserno" />
        <result column="CREATEUSERID" property="createuserid" />
        <result column="UPDATEUSERID" property="updateuserid" />
        <result column="CREATETIME" property="createtime" />
        <result column="UPDATETIME" property="updatetime" />
        <result column="SYSMEMO" property="sysmemo" />
        <result column="CREATEAGENTID" property="createagentid" />
        <result column="UPDATEAGENTID" property="updateagentid" />
        <result column="CHANGEREASON" property="changereason" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SERNO, SOURCESERNO, PROJID, FORMID, APPLYNO, DOCSTATESERNO, CREATEUSERID, UPDATEUSERID, CREATETIME, UPDATETIME, SYSMEMO, CREATEAGENTID, UPDATEAGENTID, CHANGEREASON
    </sql>

</mapper>
