<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tradevan.mapper.pkis.dao.ShortagepenaltyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tradevan.mapper.pkis.model.Shortagepenalty">
        <result column="DEPTNO" property="deptno" />
        <result column="SUPPLIERCODE" property="suppliercode" />
        <result column="LASTYEAR" property="lastyear" />
        <result column="LSCALE" property="lscale" />
        <result column="USCALE" property="uscale" />
        <result column="LEVELPENALTY" property="levelpenalty" />
        <result column="PENALTY" property="penalty" />
        <result column="CMP" property="cmp" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DEPTNO, SUPPLIERCODE, LASTYEAR, LSCALE, USCALE, LEVELPENALTY, PENALTY, CMP
    </sql>

</mapper>
