<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tradevan.mapper.pkis.dao.UserInfoExtMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tradevan.mapper.pkis.model.UserInfoExt">
        <id column="APP_ID" property="appId" />
        <result column="IDEN_ID" property="idenId" />
        <result column="USER_ID" property="userId" />
        <result column="BGN_DATE" property="bgnDate" />
        <result column="END_DATE" property="endDate" />
        <result column="CRE_USER" property="creUser" />
        <result column="CRE_DATE" property="creDate" />
        <result column="UPD_USER" property="updUser" />
        <result column="UPD_DATE" property="updDate" />
        <result column="DIRECT_MANAGER" property="directManager" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        APP_ID, IDEN_ID, USER_ID, BGN_DATE, END_DATE, CRE_USER, CRE_DATE, UPD_USER, UPD_DATE, DIRECT_MANAGER
    </sql>

</mapper>
