<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tradevan.mapper.xauth.dao.XauthMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tradevan.mapper.xauth.model.XauthMenu">
        <id column="APP_ID" property="appId" />
        <result column="MENU_ID" property="menuId" />
        <result column="MENU_URL" property="menuUrl" />
        <result column="MENU_CNAME" property="menuCname" />
        <result column="PARENT_ID" property="parentId" />
        <result column="SEQ_NO" property="seqNo" />
        <result column="PARENT_SEQ" property="parentSeq" />
        <result column="MEMO" property="memo" />
        <result column="CRE_USER" property="creUser" />
        <result column="CRE_DATE" property="creDate" />
        <result column="UPD_USER" property="updUser" />
        <result column="UPD_DATE" property="updDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        APP_ID, MENU_ID, MENU_URL, MENU_CNAME, PARENT_ID, SEQ_NO, PARENT_SEQ, MEMO, CRE_USER, CRE_DATE, UPD_USER, UPD_DATE
    </sql>

</mapper>
